<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-introvid" version="1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>IntroVideo</name><js-module name="IntroVideo" src="www/IntroVideo.js"><clobbers target="IntroVideo" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="IntroVideo"><param name="ios-package" value="IntroVideo" /></feature></config-file><source-file src="src/ios/IntroVideo.m" /></platform></plugin>